<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
         Integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <div style = "height : 10px"></div>
    <div style = "height : 60px ; font-size : 30px ; margin-top : 60x ; text-align: center ; position : flex "> You are Comely</div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position : fixed ; width : 100%">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div style = "height : 40x ; font-size : 30px ; margin-top : 30x"> </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size : 20px ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style = "margin-right : 20px">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" style = "margin-right : 20px" >Information</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" style = "margin-right : 20px"> Blog </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Content List</a></li>
              <li><a class="dropdown-item" href="#">Content Detail</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Content List</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" style="font-size : 20px" placeholder="Search" aria-label="Search" style="width : 300px ; justify-center : space-between">
          <button class="btn btn-outline-success" type="submit" style="font-size : 20px">Search</button>
          </img>

        </form>
      </div>
    </div>
  </nav>

</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}

            <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>

            <p class="top-menu">Hello {{ user.username }}
                <small>
                    (<a href="{% url 'logout' %}?next={{request.path}}">Log out</a>)
                </small>
            </p>

        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}" class="top-menu">
                <span class="glyphicon glyphicon-lock"></span>
            </a>

        {% endif %}
        <h1><a href="{% url 'content' %}">Django Blog</a></h1>
    </div>
    <!-- HTML 주석 -->
    {# 파이썬 주석1 #}
    {% comment %} 파이썬 주석2 {% endcomment %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>