<!doctype html>
<html lang="ko">
{% extends 'blog/base.html' %}

<body>
<div style="height: 100%"></div>
<div>
    <a class="nav-link" href="{% url 'post_new' %}" style="margin-right : 20px">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="48px"
             viewBox="0 0 20 20" width="48px" fill="#000000"></svg>
    </a>
</div>

<div style="display: flex; flex-direction: row; text-align: center; justify-content : center">
    <div style="width: 70%; background: yellow">
        <div style="border : solid 1px black ; background-color : white">

            {% block content %}

            {% for post in post_list %}
            <div class="post" style="width : 100% ; margin-bottom : 50px ; border : black">

                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div>

                <div style=""> 작성자</div>

                <div style="margin-top : 10px"> 이미지</div>

                <div style="margin-top : 10px"> 글내용</div>

                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

                <div style="width : 100% ; margin-top : 10px ; text-align : center">
                    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

                    <a style=" margin-right 5px">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="24px"
                             fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path
                                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </a>

                    <a class="material-icons-round" style=" margin-right 5px">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="24px"
                             fill="#000000">
                            <path
                                    d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/>
                            <path
                                    d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"/>
                        </svg>
                    </a>

                    <a class="material-icons-round" style=" margin-right 5px">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="24px"
                             fill="#000000">
                            <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/>
                            <path
                                    d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z"/>
                        </svg>
                    </a>
                </div>
                <p>{{ post.text| linebreaksbr }}</p>

                <a href="{% url 'post_detail' pk=post.pk %}"> Approved Comments: {{ post.approved_comments.count }}</a>

            </div>
            {% empty %}
            <p>Blog(글)이 없습니다.</p>
            {% endfor %}

            {% include 'blog/pagination.html' with page=post_list %}
            {% endblock %}

        </div>
    </div>
</div>
